{% with request.resolver_match.url_name as url_name %}
<div class="sidebar" data-color="orange" data-background-color="red" data-image="/static/assets/img/sidebar-1.jpg">
  <div class="logo">
    <a rel="noopener noreferrer" href="#" class="simple-text logo-mini text-white">
      SP
    </a>
    <a rel="noopener noreferrer" 
      href="#" class="simple-text logo-normal text-white">
      Shoe App
    </a>
  </div>
  {% if user.is_authenticated %}
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="/static/assets/img/profile.png" />
      </div>
      <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username">
          <span>
            {{ user.first_name}}
            <b class="caret"></b>
          </span>
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">
                <span class="sidebar-mini"> CS </span>
                <span class="sidebar-normal"> Cerrar Sesión </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item {% if 'index' == segment %} active {% endif %}">
        <a class="nav-link" href="/">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/">
          <i class="material-icons">dashboard</i>
          <p>Panel de Administración</p>
        </a>
      </li>
      <li class="nav-item {% if url_name == 'sizes.index' %} active {% endif %}">
        <a class="nav-link" href="{% url 'sizes.index' %}">
          <i class="material-icons">label_important</i>
          <p>Tallas</p>
        </a>
      </li>
      <li class="nav-item {% if url_name == 'categories.index' %} active {% endif %}">
        <a class="nav-link" href="{% url 'categories.index' %}">
          <i class="material-icons">category</i>
          <p>Categorias</p>
        </a>
      </li>
      <li class="nav-item 
        {% if url_name == 'dozens.store' %} active {% endif %}
        {% if url_name == 'dozens.index' %} active {% endif %}
        {% if url_name == 'dozens.dozens_for_the_aparador' %} active {% endif %}
        {% if url_name == 'dozens.dozens_for_the_armador' %} active {% endif %}"
      >
        <a class="nav-link" data-toggle="collapse" href="#manage-dozens" aria-expanded="false">
          <i class="material-icons">admin_panel_settings</i>
          <p>Gestion de Docenas
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="manage-dozens">
          <ul class="nav">
            <li class="nav-item {% if url_name == 'models.index' %} active {% endif %}">
              <a class="nav-link" href="{% url 'models.index' %}">
                <span class="sidebar-mini"> RND </span>
                <span class="sidebar-normal">Registrar Nueva Docena</span>
              </a>
            </li>
            <li class="nav-item {% if url_name == 'dozens.search' %} active {% endif %}">
              <a class="nav-link" href="{% url 'dozens.search' %}">
                <span class="sidebar-mini"> BDC </span>
                <span class="sidebar-normal">Buscar docena por ID</span>
              </a>
            </li>
            <li class="nav-item {% if url_name == 'dozens.index' %} active {% endif %}">
              <a class="nav-link" href="{% url 'dozens.index' 'todos' %}">
                <span class="sidebar-mini"> VTD </span>
                <span class="sidebar-normal">Ver todas las Docenas</span>
              </a>
            </li>
            <li class="nav-item {% if url_name == 'dozens.dozens_for_the_aparador' %} active {% endif %}">
              <a class="nav-link" href="{% url 'dozens.dozens_for_the_aparador' %}">
                <span class="sidebar-mini"> DPA </span>
                <span class="sidebar-normal">Docenas para el aparado</span>
              </a>
            </li>
            <li class="nav-item {% if url_name == 'dozens.dozens_for_the_armador' %} active {% endif %}">
              <a class="nav-link" href="{% url 'dozens.dozens_for_the_armador' %}">
                <span class="sidebar-mini"> DPA </span>
                <span class="sidebar-normal">Docenas para el armado</span>
              </a>
            </li>
            <li class="nav-item {% if url_name == 'dozens.dozens_for_the_rematador' %} active {% endif %}">
              <a class="nav-link" href="{% url 'dozens.dozens_for_the_rematador' %}">
                <span class="sidebar-mini"> DPR </span>
                <span class="sidebar-normal">Docenas para rematar</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item 
        {% if url_name == 'processes.aparador.index' %} active {% endif %}
        {% if url_name == 'processes.armador.index' %} active {% endif %}"
      >
        <a class="nav-link" data-toggle="collapse" href="#process" aria-expanded="false">
          <i class="material-icons"> account_tree </i>
          <p>Procesos
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="process">
          <ul class="nav">
            <li class="nav-item {% if url_name == 'processes.aparador.index' %} active {% endif %}">
              <a class="nav-link" href="{% url 'processes.aparador.index' 'todos' %}">
                <span class="sidebar-mini"> AP </span>
                <span class="sidebar-normal">Procesos de Aparado</span>
              </a>
            </li>
            <li class="nav-item {% if url_name == 'processes.armador.index' %} active {% endif %}">
              <a class="nav-link" href="{% url 'processes.armador.index' 'todos' %}">
                <span class="sidebar-mini"> AR </span>
                <span class="sidebar-normal">Procesos de Armado</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item 
        {% if url_name == 'providers.show' %} active {% endif %}
        {% if url_name == 'customers.show' %} active {% endif %}"
      >
        <a class="nav-link" data-toggle="collapse" href="#customers-and-providers" aria-expanded="false">
          <i class="material-icons">contacts</i>
          <p>Clientes/Proveedores
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="customers-and-providers">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'providers.show' 'proveedores' 'todos' %}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal">Proveedores</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'customers.show' 'clientes' 'todos' %}">
                <span class="sidebar-mini"> C </span>
                <span class="sidebar-normal">Clientes</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item 
        {% if url_name == 'dozens.index' %} active {% endif %}
        {% if url_name == 'sales.index' %} active {% endif %}"
      >
        <a class="nav-link" data-toggle="collapse" href="#sales" aria-expanded="false">
          <i class="material-icons">storefront</i>
          <p>Ventas
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="sales">
          <ul class="nav">
            <li class="nav-item {% if url_name == 'dozens.dozens_ready_to_sell' %} active {% endif %}">
              <a class="nav-link" href="{% url 'dozens.dozens_ready_to_sell' %}">
                <span class="sidebar-mini"> RV </span>
                <span class="sidebar-normal">Realizar Venta</span>
              </a>
            </li>
            </li>
            <li class="nav-item {% if url_name == 'sales.index' %} active {% endif %}">
              <a class="nav-link" href="{% url 'sales.index' %}">
                <span class="sidebar-mini"> VR </span>
                <span class="sidebar-normal">Ventas Realizadas</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item 
        {% if url_name == 'materials.index' %} active {% endif %}
        {% if url_name == 'inventory.index' %} active {% endif %}
        {% if url_name == 'dozens.dozens_ready_to_sell' %} active {% endif %}"
      >
        <a class="nav-link" data-toggle="collapse" href="#inventory" aria-expanded="false">
          <i class="material-icons">fact_check</i>
          <p>Inventario
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="inventory">
          <ul class="nav">
            <li class="nav-item {% if url_name == 'materials.index' %} active {% endif %}">
              <a class="nav-link" href="{% url 'materials.index' %}">
                <span class="sidebar-mini"> MAT </span>
                <span class="sidebar-normal">Materiales</span>
              </a>
            </li>
            <li class="nav-item {% if url_name == 'inventory.index' %} active {% endif %}">
              <a class="nav-link" href="{% url 'inventory.index' %}">
                <span class="sidebar-mini"> INV </span>
                <span class="sidebar-normal">Inventario</span>
              </a>
            </li>
            </li>
            <li class="nav-item {% if url_name == 'dozens.dozens_ready_to_sell' %} active {% endif %}">
              <a class="nav-link" href="{% url 'dozens.dozens_ready_to_sell' %}">
                <span class="sidebar-mini"> DPV </span>
                <span class="sidebar-normal">Docenas para vender</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'logout' %}" >
          <i class="material-icons">power_settings_new</i>
          <p>Cerrar Sesión</p>
        </a>
      </li>
    </ul>
  </div>
  {% endif %}
</div>
{% endwith %}