{% extends "layouts/base.html" %}

{% block title %} Completar Venta {% endblock %}

{% block navigation %}
  <nav aria-label="breadcrumb" role="navigation" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="javascript:;">Venta</a></li>
      <li class="breadcrumb-item text-capitalize active" aria-current="page">Completar Venta</li>
    </ol>
  </nav>
{% endblock navigation %}

{% load change_comma_to_dot %}

{% block content %}

    <div class="row">
      <div class="col-12 col-sm-8 col-md-8">
          <div class="card">
              <div class="card-header">
                <h5 class="card-title font-weight-bold text-uppercase">Docenas seleccionadas</h5>
              </div>
              <div class="card-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Modelo</th>
                              <th>Cantidad</th>
                              <th>Color</th>
                              <th>Talla</th>
                              <th>Material</th>
                              <th>Precio</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for dozen in dozens_list %}
                          <tr>
                              <td class="text-uppercase">{{ dozen.model }}</td>
                              <td>{{ dozen.amount }}</td>
                              <td>{{ dozen.color }}</td>
                              <td>{{ dozen.size }}</td>
                              <td>{{ dozen.material }}</td>
                              <td>S/ {{ dozen.price | change_comma_to_dot }}</td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title font-weight-bold text-uppercase">Formulario</h5>
          </div>
          <div class="card-body">
            <form action="{% url 'sales.store' %}" method="post">
            {% csrf_token %}
              <div class="form-group">
                <span>Total a pagar:</span>
                <span class="badge badge-pill badge-success px-3 py-1 float-right font-weight-bold" style="font-size:13px">
                  S/ {{ total | change_comma_to_dot}}
                </span>
              </div>
              <hr>
              {% for dozen in dozens %}
                <input type="hidden" name="dozens[]" value="{{ dozen }}">
              {% endfor %}
              <div class="form-group">
                <label for="id_customer">Seleccione el cliente</label>
                <select name="customer" id="id_customer" class="form-control">
                  {% for customer in customers %}
                    <option value="{{customer.id}}">{{customer}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="id_status">Seleccione el modo de pago</label>
                {{form.status}}
              </div>
              <div class="form-group my-3" x-data="{show: false}">
                <label for="money_paid">¿Cuanto va a pagar? </label>
                <div class="d-flex justify-content-between">
                  <div class="form-check">
                    <input type="radio" name="money_paid" id="exampleRadios1" @click="show = false">
                    <label for="exampleRadios1" @click="show = false">
                      Todo
                    </label>
                  </div>
                  <div class="form-check">
                    <input type="radio" name="money_paid" id="exampleRadios2" @click="show = true">
                    <label for="exampleRadios2" @click="show = true">
                      Solo una cantidad
                    </label>
                  </div>
                </div>
                <div class="form-group mt-2" x-show="show">
                    <label for="just_a_quantity">Ingrese la cantidad: </label>  
                    <input type="number" name="just_a_quantity" id="id_just_a_quantity" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="id_note">Deje alguna nota sobre esta venta</label>
                {{form.note}}
              </div>

              <button type="submit" class="btn btn-success btn-block">Completar venta</button>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
var select = document.getElementById('id_customer');
select.addEventListener('change',
  function(){
    var selectedOption = this.options[select.selectedIndex];

    console.log(selectedOption.value + ': ' + selectedOption.text);
  });
</script>
{% endblock javascripts %}
