{% extends "layouts/base.html" %}

{% block title %} Agregar Docena {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load crispy_forms_tags %}

{% block navigation %}
  <nav aria-label="breadcrumb" role="navigation" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="javascript:;">Productos</a></li>
      <li class="breadcrumb-item text-capitalize"><a href="javascript:;">{{product}}</a></li>
      <li class="breadcrumb-item text-capitalize"><a href="javascript:;">{{category}}</a></li>
      <li class="breadcrumb-item text-capitalize"><a href="javascript:;">{{model}}</a></li>
      <li class="breadcrumb-item text-capitalize active" aria-current="page">Agregar docena</li>
    </ol>
  </nav>
{% endblock navigation %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Agregar Docena</h4>
            </div>
            <form action="{% url 'models.store' category %}" method="POST">
            {% csrf_token %}
            <div class="card-body">
              <div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="id_category">Modelo*</label>
                      {{form.model}}
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          {% for error in form.category.errors %}
                          <small class="form-text text-danger font-weight-bold"
                            >{{ error }}</small
                          >
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="id_name">Talla*</label>
                      <select name="sizes" class="select form-control" required id="is_sizes">
                        {% for size in model.all_your_sizes %}
                          <option value="{{size.id}}">{{size}}</option>
                        {% endfor %}
                      </select>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          {% for error in form.color.errors %}
                          <small class="form-text text-danger font-weight-bold my-0"
                            >{{ error }}</small
                          >
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="id_name">Cantidad*</label>
                      {{form.amount}}
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          {% for error in form.amount.errors %}
                          <small class="form-text text-danger font-weight-bold my-0"
                            >{{ error }}</small
                          >
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="id_name">Color*</label>
                      {{form.color}}
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          {% for error in form.color.errors %}
                          <small class="form-text text-danger font-weight-bold my-0"
                            >{{ error }}</small
                          >
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="id_name">Material*</label>
                      {{form.material}}
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          {% for error in form.material.errors %}
                          <small class="form-text text-danger font-weight-bold my-0"
                            >{{ error }}</small
                          >
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="id_name">Estado*</label>
                      {{form.status}}
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          {% for error in form.status.errors %}
                          <small class="form-text text-danger font-weight-bold my-0"
                            >{{ error }}</small
                          >
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer float-right">
              <button type="submit" class="btn btn-success bt-sm">Crear</button>
            </div>
          </form>
        </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
