{% extends "layouts/base.html" %}

{% block title %} Docenas Disponibles para el Aparador {% endblock %}

{% block stylesheets %}
    <link
      href="/static/assets/css/plugins/responsive.dataTables.min.css"
      rel="stylesheet"
    />
{% endblock stylesheets %}

{% block navigation %}
  <nav aria-label="breadcrumb" role="navigation" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Docenas disponibles para el aparador</a></li>
    </ol>
  </nav>
{% endblock navigation %}

{% load crispy_forms_tags %}

{% block content %}

    {% if dozens %}
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <div class="card">
            <div class="card-body pt-0">
              <div class="material-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                  <thead>
                      <tr>
                          <th>ID &nbsp; &nbsp;</th>
                          <th>Cortador</th>
                          <th>Categoria</th>
                          <th>Modelo</th>
                          <th>Talla</th>
                          <th>Color</th>
                          <th>Material</th>
                          <th>Estado</th>
                          <th class="text-right">Fecha creación</th>
                          <th class="text-right">Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for dozen in dozens %}
                      <tr>
                          <td class="text-uppercase">{{ dozen.id }}</td>
                          <td class="text-uppercase">{{ dozen.cortador.user.first_name }}</td>
                          <td class="text-uppercase">{{ dozen.model.category }}</td>
                          <td class="text-uppercase">{{ dozen.model }}</td>
                          <td>{{ dozen.size }} <small class="text-muted">({{dozen.size.size}})</small></td>
                          <td>{{ dozen.color }}</td>
                          <td>{{ dozen.material }}</td>
                          <td><span class="badge badge-pill badge-success">{{ dozen.status }}</span></td>
                          <td class="text-right">{{ dozen.created_at }}</td>
                          <td class="td-actions text-right">
                            <a onclick="selectItem({{dozen.id}}, '{{dozen.model}}')"
                              rel="tooltip" class="btn btn-success btn-sm"
                              data-placement="left" title="Entregar docena al aparador"
                              data-toggle="modal" data-target="#modalFormDelivery">
                              <i class="material-icons text-white">send</i>
                            </a>
                          </td>
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalFormDelivery" tabindex="-1" role="dialog" aria-labelledby="modalFormDelivery" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-uppercase font-weight-bold" id="modalFormDelivery">
                  Entregar docena al Aparador
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-body">
                  <form>
                    {% csrf_token %}
                    <div class="form-group">
                      <div><label for="model_readonly">Modelo*</label></div>
                      <input type="text" name="cut_name_model" id="model_readonly" readonly required class="form-control text-uppercase">
                      <input type="hidden" name="dozen" id="id_dozen" readonly required class="form-control">
                      <small id="dozen_error" class="text-danger"></small>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label-floating">Elija al aparador que recibirá esta docena*</label>
                      <select name="user" id="id_user" class="form-control selectpicker" data-style="btn btn-link" required>
                        <option value="">------------</option>
                        {% for aparador in aparadors %}
                          <option value="{{aparador.id}}">{{aparador.first_name}} {{aparador.last_name}}</option>
                        {% endfor %}
                      </select>
                      <small id="user_error" class="text-danger"></small>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label-floating">Nota</label>
                      <textarea name="note" rows="3" id="id_note" class="form-control"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" onclick="delivery()" class="btn btn-success btn-block" style="width:100%">
                    Entregar Docena
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
        <div class="loader">Loading...</div>
        <h4 class="d-flex justify-content-center text-center text-muted">
          No hay docenas disponibles para el aparado actualmente
        </h4>
    {% endif %}
{% endblock content %}

{% block javascripts %}
<script src="/static/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/static/assets/js/my-js/datatables-config.js"></script>

<script>
    const selectItem = (id, model) => {
        const modelReadonly = document.getElementById('model_readonly')
        const dozen = document.getElementById('id_dozen')
        model_readonly.value = model
        dozen.value = id
    }
    const delivery = () => {
        const idDozenError = document.getElementById('dozen_error')
        const idUserError = document.getElementById('user_error')

        idDozenError.innerHTML = ''
        idUserError.innerHTML = ''

        const idDozen = document.getElementById('id_dozen').value
        const idUser = document.getElementById('id_user').value
        const note = document.getElementById('id_note').value

        existsErrors = 0

        if(!idDozen){
            idDozenError.innerHTML = 'Existe un problema con este campo por favor recargue la pagina e intentelo nuevamente'
            existsErrors++
        }  
        if(!idUser) {
            idUserError.innerHTML = 'Es necesario que elija un aparador para esta docena'
            existsErrors++
        }

        if (!existsErrors) {
        data = JSON.stringify({
            dozen: idDozen,
            user: idUser,
            note: note
        })

        const getCookie = (name) => {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const defaults = {
            'method': 'POST',
            'body': data,
            'headers': new Headers({
                'X-CSRFToken': getCookie('csrftoken'),
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            }),
        };

        fetch('/agregar-docena-a-produccion/', defaults)
            .then(response => response.json())
            .then(data => {
                if(data.success){
                    alert(`Docena entregada satisfactoriamente al aparador.`)
                    location.reload();
                }else{
                    alert(data.error)
                }
            })
            .catch(err => {
                console.log(err)
                alert(`Lo sentimos pero a sucedido un inconveniente, por 
                    favor revise que los campos requeridos sean correctos 
                    e intentelo nuevamente, si el error persiste recargue
                    la pagina.`)
                $('#modalFormDelivery').modal('show');
            })
        }
    }
</script>
{% endblock javascripts %}