{% extends "layouts/base.html" %}

{% block title %} Procesos de Aparado {%endblock %}

{% block navigation %}
<nav aria-label="breadcrumb" role="navigation" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="javascript:;">Historial de esta docena</a>
    </li>
    <li class="breadcrumb-item text-capitalize active" aria-current="page">
      modelo {{dozen.model}}
    </li>
  </ol>
</nav>
{% endblock navigation %}

{% block content %}
 <div class="header text-center">
    <h3 class="title">Historial de esta docena</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-timeline card-plain mt-0">
        <div class="card-body pt-0">
          <ul class="timeline pt-0 mt-0">
            <li class="timeline-inverted">
              <div class="timeline-badge danger">
                <i class="material-icons">card_travel</i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <div class="d-flex justify-content-between">
                        <h2 class="h5 mb-0"><b class="text-capitalize">Modelo:
                        {{dozen.model}}</b>
                        </h2>
                        <h2 class="h5 mb-0"><b>ID: {{dozen.id}}</b></h2>
                    </div>
                </div>
                <div class="timeline-body">
                  <span class="small text-gray d-block">
                    <i class="fa fa-clock-o mr-1"></i>
                    <b>Fecha de registro de esta docena: </b>{{dozen.created_at}}
                </span>
                <span class="small text-gray d-block">
                    <i class="material-icons" style="font-size:14px">done</i>
                    <b>Categoria: </b>{{dozen.model.category}}
                </span>
                <span class="small text-gray d-block">
                    <i class="material-icons" style="font-size:14px">done</i>
                    <b>Talla: </b>{{dozen.size}}
                </span>
                <span class="small text-gray d-block">
                    <i class="material-icons" style="font-size:14px">done</i>
                    <b>color: </b>{{dozen.color}}
                </span>
                </span>
                <span class="small text-gray d-block">
                    <i class="material-icons" style="font-size:14px">done</i>
                    <b>Material: </b>{{dozen.material}}
                </span>
                <span class="small text-gray d-block">
                    <i class="material-icons" style="font-size:14px">done</i>
                    <b>Estado actual: </b>
                    {% if dozen.status == 'disponible' %}
                        {{dozen.status}}
                    {% elif dozen.status == 'aparado_en_produccion' %}
                        aparado en produccion
                    {% elif dozen.status == 'aparado_finalizado' %}
                        aparado finalizado
                    {% elif dozen.status == 'armado_en_produccion' %}
                        armado en produccion
                    {% elif dozen.status == 'armado_finalizado' %}
                        armado finalizado
                    {% elif dozen.status == 'produccion_finalizada' %}
                        produccion finalizada
                    {% elif dozen.status == 'vendido' %}
                        vendido
                    {% endif %}
                </span>
                <p class="text-small mt-2 font-weight-light">
                    <b>Nota: </b> {% if dozen.note %}
                        {{dozen.note}}
                    {% else %}
                        <em><s>Ninguno</s></em>
                    {% endif %}
                </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge success">
                <i class="material-icons">extension</i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h2 class="h5 mb-0"><b class="text-capitalize">Cortador(a):
                        {{dozen.cortador.user.first_name}} {{dozen.cortador.user.last_name}}</b>
                    </h2>
                </div>
                <div class="timeline-body">
                  <span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>
                    <b>Fecha de registro de esta docena: </b>{{dozen.cortador.created_at}}
                </span>
                <p class="text-small mt-2 font-weight-light">
                    <b>Nota: </b> {% if dozen.cortador.note %}
                        {{dozen.cortador.note}}
                    {% else %}
                        <em><s>Ninguno</s></em>
                    {% endif %}
                </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge info">
                <i class="material-icons">fingerprint</i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h2 class="h5 mb-0">
                        <b class="text-capitalize">Aparador(a):
                        {% if dozen.aparador %}
                            {{dozen.aparador.user.first_name}} {{dozen.aparador.user.last_name}}
                        {% else %}
                            <em class="text-warning">Aun no a sido asignado</em>
                        {% endif %} 
                        </b>
                    </h2>
                </div>
                <div class="timeline-body">
                  <span class="small text-gray d-block"><i class="fa fa-clock-o mr-1"></i>
                        <b>Docena recibida el dia: </b>{{dozen.aparador.created_at}}
                    </span>
                    <span class="small text-gray d-block"><i class="fa fa-clock-o mr-1"></i>
                        <b>Docena entregada el dia: </b>{{dozen.aparador.updated_at}}
                    </span>
                    <p class="text-small mt-2 font-weight-light">
                        <b>Nota: </b> {% if dozen.aparador.note %}
                            {{dozen.aparador.note}}
                        {% else %}
                            <em><s>Ninguno</s></em>
                        {% endif %}
                    </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge warning">
                <i class="material-icons">flight_land</i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h2 class="h5 mb-0">
                        <b class="text-capitalize">Armador(a):
                        {% if dozen.armador %}
                            {{dozen.armador.user.first_name}} {{dozen.armador.user.last_name}}
                        {% else %}
                            <em class="text-warning">Aun no a sido asignado</em>
                        {% endif %} 
                        </b>
                    </h2>
                </div>
                <div class="timeline-body">
                    <span class="small text-gray d-block"><i class="fa fa-clock-o mr-1"></i>
                        <b>Docena recibida el dia: </b>{{dozen.armador.created_at}}
                    </span>
                    <span class="small text-gray d-block"><i class="fa fa-clock-o mr-1"></i>
                        <b>Docena entregada el dia: </b>{{dozen.armador.updated_at}}
                    </span>
                    <p class="text-small mt-2 font-weight-light">
                        <b>Nota: </b> {% if dozen.armador.note %}
                            {{dozen.armador.note}}
                        {% else %}
                            <em><s>Ninguno</s></em>
                        {% endif %}
                    </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge primary">
                <i class="material-icons">verified</i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h2 class="h5 mb-0">
                        <b class="text-capitalize">Rematador(a): 
                        {% if dozen.rematador %}
                            {{dozen.rematador.user.first_name}} {{dozen.rematador.user.last_name}}
                        {% else %}
                            <em class="text-warning">Aun no a sido asignado</em>
                        {% endif %}
                        </b>
                    </h2>
                </div>
                <div class="timeline-body">
                    <span class="small text-gray d-block"><i class="fa fa-clock-o mr-1"></i>
                        <b>Docena entregada el dia: </b>{{dozen.rematador.created_at}}
                    </span>
                    <p class="text-small mt-2 font-weight-light">
                        <b>Nota: </b> {% if dozen.rematador.note %}
                            {{dozen.rematador.note}}
                        {% else %}
                            <em><s>Ninguno</s></em>
                        {% endif %}
                    </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
