{% extends "layouts/base.html" %}

{% block title %} Buscar Docena {% endblock %}

{% block navigation %}
  <nav aria-label="breadcrumb" role="navigation" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Buscar docena por ID</li>
    </ol>
  </nav>
{% endblock navigation %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6">
        <div class="card">
            <form action="{% url 'dozens.search' %}" method="POST">
                <div class="card-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <div><label for="id_search">Buscar Docena por ID</label></div>
                        <input type="number" min="1" name="id" id="id_search" class="form-control"
                        autocomplete="off" required placeholder="Por ejemplo 17">
                    </div>
                </div>
            <div class="card-footer border-top mt-3">
                <button type="submit" class="btn btn-success btn-block">
                    Buscar Docena por ID
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}