{% extends "layouts/base.html" %}

{% block title %}Actualizar Docena {% endblock %}

{% block navigation %}
  <nav aria-label="breadcrumb" role="navigation" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="javascript:;">Docena</a></li>
      <li class="breadcrumb-item active" aria-current="page">Actualizar Docena</li>
    </ol>
  </nav>
{% endblock navigation %}

{% load crispy_forms_tags %}

{% block content %}
  
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6">
        <div class="card">
            <div class="card-header border-bottom">
                <h5 class="card-title font-weight-bold text-uppercase">Actualizar Docena</h5>
            </div>
            <form action="" method="POST">
                <div class="card-body">
                    {% csrf_token %}
                    {{form | crispy}}
                </div>
            <div class="card-footer border-top mt-3">
              {% if form.status.value == 'produccion_finalizada' %}
                <button type="button" disabled class="btn btn-default btn-block ">
                  Esta docena ya no puede ser modificada
                </button>
              {% else %}
                <button type="submit" class="btn btn-warning btn-block ">Actualizar Docena</button>
              {% endif %}
            </div>
            </form>
        </div>
    </div>
  </div>

{% endblock content %}