{% extends "layouts/base.html" %}

{% block title %} Inventario {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block navigation %}
  <nav aria-label="breadcrumb" role="navigation" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item text-capitalize" aria-current="page">
        <a href="javascript:;">Inventario</a>
      </li>
      <li class="breadcrumb-item text-capitalize active" aria-current="page">
      {% if filter_by %}
        {{filter_by}}
      {% else %}
        Todos
      {% endif %}
      </li>

    </ol>
  </nav>
{% endblock navigation %}

{% load change_comma_to_dot %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <a href="{% url 'inventory.store' material.name %}" class="btn btn-success btn-sm">Agregar nuevo inventario</a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 ml-auto">
            <div class="dropdown show">
                <a class="btn btn-default btn-block btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtrar por
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width:100%">
                    <a class="dropdown-item" href="{% url 'inventory.filter' material.name 'todos' %}">Todos</a>
                    <a class="dropdown-item" href="{% url 'inventory.filter' material.name 'disponibles' %}">Existencias Disponibles</a>
                    <a class="dropdown-item" href="{% url 'inventory.filter' material.name 'agotados' %}">Existencias Agotadas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Proveedor</th>
                                    <th>Material</th>
                                    <th>Cantidad inicial</th>
                                    <th>Existencias</th>
                                    <th>Color</th>
                                    <th>Tipo material</th>
                                    <th>Precio</th>
                                    <th class="text-right">Fecha registro</th>
                                    <th class="text-right">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for inventory in entity %}
                                <tr>
                                    <td class="text-uppercase text-truncate" style="max-width: 130px;">
                                    {% if inventory.provider %}
                                        {{ inventory.provider }}
                                    {% else %}
                                        <em><s>Ninguno</s></em>
                                    {% endif %}
                                    </td>
                                    <td class="text-uppercase">{{ inventory.material }}</td>
                                    <td><span class="badge badge-pill badge-success px-3">{{ inventory.amount }}</span></td>
                                    <td>
                                    {% if inventory.stock == inventory.amount %}
                                        <span class="badge badge-pill badge-success px-3">{{ inventory.stock }}</span>
                                    {% elif inventory.stock >= 1 %}
                                        <span class="badge badge-pill badge-info px-3">{{ inventory.stock }}</span>
                                    {% elif inventory.stock <= 0 %}
                                        <span class="badge badge-pill badge-danger px-3">{{ inventory.stock }}</span>
                                    {% endif %}
                                    </td>
                                    <td>
                                    {% if inventory.color %}
                                        {{ inventory.color }}
                                    {% else %}
                                        <em>Ninguno</em>
                                    {% endif %}
                                    </td>
                                    <td>
                                    {% if inventory.type %}
                                        {{ inventory.type }}
                                    {% else %}
                                        <em>Ninguno</em>
                                    {% endif %}
                                    </td>
                                    <td>S/. {{ inventory.price | change_comma_to_dot }}</td>
                                    <td class="text-right">{{ inventory.created_at }}</td>
                                    <td class="td-actions text-right">
                                    {% if inventory.stock >= 1 %}
                                        <a href="{% url 'inventory.update_stock' inventory.id %}"
                                            class="badge badge-pill badge-secondary px-3"
                                        >
                                            Actualizar Existencias
                                        </a>
                                    {% else %}
                                        <a href="#"
                                            class="badge badge-pill badge-danger px-3"
                                        >
                                            Existencias agotadas
                                        </a>
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'paginator.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
