{% extends "layouts/base.html" %}

{% block title %} Actualizar Inventario {%endblock %}

{% block navigation %}
<nav aria-label="breadcrumb" role="navigation" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">Materiales</a></li>
    <li class="breadcrumb-item text-capitalize">
      <a href="javascript:;">{{ inventory.material.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Actualizar Inventario</li>
  </ol>
</nav>
{% endblock navigation %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-12 col-sm-8 col-md-6">
    <div class="card">
      <div class="card-header border-bottom">
        <h4 class="card-title text-uppercase font-weight-bold">Actualizar Inventario</h4>
      </div>
      <form action="" method="POST">
        <div class="card-body">
          {% csrf_token %}
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <div><label for="id_material">Material*</label></div>

                <input
                  class="form-control"
                  required
                  type="text"
                  readonly
                  name="material_name"
                  id="id_material"
                  value="{{ inventory.material }}"
                />
                <input
                  type="hidden"
                  name="materials"
                  value="{{ inventory.material.id }}"
                />
                <div class="row">
                  <div class="col-12 col-sm-6">
                    {% for error in form.material.errors %}
                    <small class="form-text text-danger font-weight-bold"
                      >{{ error }}</small
                    >
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if material_types %}
            <div class="row">
              <div class="col-12">
                <div id="container-add-new-element" class="form-group">
                  <label for="id_type">Tipo de material</label>
                  <select name="type" id="id_type" class="form-control">
                    {% for type in material_types %}
                    <option value="{{type}}">{{type}}</option>
                    {% endfor %}
                  </select>
                  <div class="row">
                    <div class="col-12">
                      {% for error in form.types.errors %}
                      <small class="form-text text-danger font-weight-bold"
                        >{{ error }}</small
                      >
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
              <input type="hidden" name="type" value="">
            {% endif %}
          {{form | crispy}}
        </div>
        <div class="card-footer border-top mt-3">
          <button type="submit" class="btn btn-warning btn-block">
            Actualizar Inventario
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}